<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detyrat Priza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="materialize/css/materialize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="main.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="light-green darken-3">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">StudentHub</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
               <ul class="right hide-on-med-and-down">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="loginTeacher.html">Log In as Teacher</a>
                </li>
                <li>
                    <a href="loginStudent.html">Log In as Student</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <section class="section photo1">
        <h1 class="center text-in-center white-text">PRIZA</h1>
        <span class="center text-in-center1 white-text"> <a href="login.html" class="center link1">Klikoni ketu per tu rregjistruar</a></span>
      </section>
      <section class="teal quotes white-text">
        <i><h2 class="italic">Believe you can and you’re halfway there</h1></i>
      </section>
      <footer class="page-footer light-green darken-3">
        <span class="footer-text1">PRIZA team&copy;</span>
      </footer>
</body>
</html>
